{% extends 'base.html' %}
{% load static %}

{% block content %}



  <div class="card">
              <div class="card-header">
                <form method="POST">{% csrf_token %}



                    FROM DATE: <input type="date" name="from" class="form-control col-md-3"/>

                    TO DATE:<input type="date" class="form-control col-md-3" name="to"/>
                  <hr>
<input type="submit" class="form-control col-md-2 btn btn-outline-primary" value="Search">
<!--                <h3 class="card-title">DataTable with default features</h3>-->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>

                  <tr>
                    <th>Date</th>
                  <th>Line</th>
                  <th>Style No</th>
                  <th>Buyer</th>
                  <th>Item</th>

<!--                  <th>OrderQty</th>-->
                  <th>InPut</th>
                  <th>Daily Output</th>
                  <th>Balance Qty</th>
                  <th>CMP</th>
                  <th>CMPbyStyle</th>
                    <th>CMPbyLine</th>
                   <th>Operator/Helper</th>
                    <th>CMPprHr</th>
                    <th>CMP-hr/prs</th>
                  </tr>

                  </thead>
                  <tbody>
                  {% for d in data %}
                <tr>
                  <td><a href="{% url 'myapp:DataEntryEdit' d.id %}">{{d.Date}}</a></td>
                  <td>{{d.Line}}</td>
                  <td>{{d.Style}}</td>
                  <td> {{d.Buyer}}</td>
                  <td>{{d.Item}}</td>

<!--                  <td>{{d.OrderQty}}</td>-->
                  <td>{{d.In_Put}}</td>
                  <td>{{d.DailyOutput}}</td>
                  <td>{{d.BalanceQty}}</td>
                  <td>{{d.CMP}}</td>
                  <td>{{d.DailyCMPbyStyle}}</td>
                  <td>{{d.DailyCMPbyLine}}</td>
                  <td>{{d.Operator}}/{{d.Helper}}</td>
                  <td>{{d.CMPprHr}}</td>
                  <td>{{d.CMP_Hour_Person}}</td>
                </tr>
                {% endfor %}

                  </tbody>
                  <tfoot>
                  <tr>
                    <th></th>
                    <th></th>
                  <th></th>
                  <th></th>
                  <th>Grand Totol</th>
<!--                  <th>{{sum_of_orderqty}}</th>-->

                  <th>{{sum_of_input}}</th>
                  <th>{{sum_of_output}}</th>
                  <th>{{sum_of_balance}}</th>
                  <th>{{sum_of_cmp}}</th>
                  <th>{{sum_of_cmpstyle}}</th>
                  <th>{{sum_of_cmpline}}</th>
                    <th>{{sum_of_operator}}/{{sum_of_helper}}</th>
                  <th>{{sum_of_cmprhr}}</th>
                    <th>{{sum_of_cmphrprs}}</th>
                  </tr>

                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>


 <div class="card">
              <div class="card-header">

<h5>Order</h5>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-striped">
                  <thead>

                    <th>Date</th>
                  <th>Style No</th>
                  <th>Buyer</th>
                  <th>OrderQty</th>

                  </tr>

                  </thead>
                  <tbody>
                  {% for d in orderdata %}
                <tr>
                  <td>{{d.Date}}</td>
                  <td>{{d.style}}</td>
                  <td> {{d.buyer}}</td>
                  <td>{{d.order_qty}}</td>

                </tr>
                {% endfor %}

                  </tbody>
                  <tfoot>
                  <tr>


                  <th></th>
                  <th></th>
                  <th>Grand Totol</th>
                  <th>{{buyer_orderqty}}</th>


                  </tr>

                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>




{% endblock content %}