{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card border-success mb-3" style="max-width: 50rem;">
  <div class="card-header bg-success">Create Style</div>
  <div class="card-body text-success">
<form method="POST">{% csrf_token %}

    <div class="col-md-12">
                <div class="form-group">
                  <label>Enter Style Code</label>
                  <input type="text" class="form-control" name="StyleCode">
                </div>
              </div>



              <div class="col-md-12">
                <div class="form-group">
                  <label>Buyer</label>
                  <select class="form-control select2bs4" style="width: 100%;" name="buyer">
                    <option selected="selected"></option>
                    {% for b in buyer %}
                    <option>{{b.BuyerName}}</option>
                    {% endfor %}

                  </select>
                </div>
              </div>


     <div class="col-md-12">
<!--                <div class="form-group">-->
<!--                  <label>Date</label>-->
                  <input type="submit" name="Create" class="btn btn-success">
<!--                </div>-->
              </div>




</form>



  </div>
</div>

<!--=========================================-->

 <div class="card">
              <div class="card-header">

<h5><b>Style List</b></h5>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>


                  <th>Style No</th>
                  <th>Buyer</th>


                  </tr>

                  </thead>
                  <tbody>
                  {% for d in style %}
                <tr>
                  <td>{{d.StyleCode}}</td>
                  <td>{{d.Buyer}}</td>


                </tr>
                {% endfor %}

                  </tbody>
                  <tfoot>
                  <tr>


                  <th></th>
                  <th></th>



                  </tr>

                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

{% endblock content %}